.grids-container {
  flex-direction: column !important;
}

.grid-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  gap: 1%;
  height: 80%;
}

#grid-tips {
  font-size: 0.8rem;
  width: 100%;
  font-family: poppins;
  display: flex;
  justify-content: left;
  gap: 20px;
  /* font-weight: 500; */
}
