.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  gap: 10px;
  background-color: rgb(239, 243, 252);
}

.dashboard-container-child {
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
}
.dashboard-container-child-1 {
  flex: 2;
  justify-content: space-between;
}

.dashboard-container-child-2 {
  flex: 1.8;
  justify-content: space-between;
}

.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 200ms;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hidden {
  background: transparent;
  visibility: hidden;
}

.dashboard-container-child-2 > div > div {
  text-align: left;
  margin: 0px 10px;
}
.dashboard-container-child-3 {
  flex: 1;
}
.dashboard-container-child-4 {
  flex: 3;
}

.dashboard-container-child-5 {
  flex: 15;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  box-sizing: border-box;
}
.dashboard-container-child-5 > div {
  flex: auto;
  border: 1px solid gray;
  border-radius: 20px;
  height: 100%;
}

.small-text {
  font-size: 0.8rem;
}
