.searchbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 3px 5px 0.2px rgb(0, 0, 0, 0.2);
  height: 4rem;
  width: 20vw;
}

.search-icon {
  margin: 10px;
}

.search-input {
  border: none;
  outline: none;
  margin-left: 10px;
  text-align: right;
  font-size: 1rem;
}

.input-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
