@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}
